body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: grey;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 1px;
    text-align: center;
    position: relative;
}
.logo {
    width:60px;
    position: absolute;
    top: 50%;
    left: 45px;
    transform: translateY(-50%);
}
header h1 {
    margin: 20px;
    padding: 0;
}
  
  button{
    line-height: 100%;
    width: 200px;
    height: 50px;
  
  }
  .nav-links {
    list-style-type: none;
    padding: 0;
  }
  a{
  display: block;
    margin-left: 50px;


  }
  
  .services{
    color:black;
    text-align: center;
    margin-right: 50px;
    h2{
      margin-left: 80Px;
    }

}


.container {
  background-color: white;
    padding: 2rem;
    img{
        width: 300px
      }
    }


  .nav-links li {
    display: inline-block;
    margin: 0 10px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
  
  }

  
  .hero {
    background-image: url('nahledovka2.png');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 200px 50px;
    background-color: white;
    width: auto;
   
    h1 {
      display: inline-block;
      text-align: center;

      margin-top: 20px;
      width: 400px;
      height: 80px;
    }
    h2 {
      width: 320px;
      height: 80px;
      
      display: inline-block;
    }
  }
  
  .container {
    
    text-align: center;
  }
  
  .about1 {
    margin-bottom: 20px;
    width: auto;
    align-items: center;
    img{ 
  width: 400px;
  align-items: center;

    }
  }
  
  .contact-left {
    background-color: #333;
    color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  .contact-left .form-group {
    display: flex;
    flex-direction: column;
   
}
  .contact-left input, .contact-left textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  .mrdka {
    text-align: center;
    button{
      background-color: black;
      color: white;
     }
  }
  .contact-left button {
    background-color: #555;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact-left button:hover {
    background-color: #777;
  }
  
  .contact{
    margin-left: 50px;
   a{
      margin-left: 0px;
      color: black;
  }
}
  .backlink{
margin-left: 500px;
  }

  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
  }

  
  @media (max-width: 600px) {
    .nav-links li {
      display: block;
      margin: 10px 0;
    }
  
    .contact-left {
      padding: 10px;
    }
  
    .contact-left .form-group {
      flex-direction: column;
    }
  
    .hero {
      padding: 20px;
    }
  
    .service1 img, .about1 img {
      max-width: 100%;
      height: auto;
    }
  }
  
