/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    color: white;
    font-family: Arial, sans-serif;
}

.calculator {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #333;
}

.keys button {
    padding: 10px;
    width: 50px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #666;
    color: white;
}

.keys button:hover {
    background-color: #777;
}

#display {
    width: calc(4 * 55px);
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    color: #333;
    text-align: right;
}
